/* WEBD 1102 Final Assignment
 * By Curtis Jones
 * Due December 14, 2019 */

/* Colours:
 * --main-bg: #CFDBD5 -- Light Grey (No dumb name to fix)
 * --sub-bg: #6EB4D1 -- Iceberg (Lighter Blue)
 * --main-txt: #0B132B -- Maastricht Blue (Dark Blue)
 * --main-hightlight: #594236 -- Dark Liver (Dark Brown) 
 * --sub-highlight: #D3FAD6 -- Aero Blue (Pale Green/Teal Colour) */

/* *** General Formatting *** */

/* *** End GF *** */
/* *** Header Formatting *** */

ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a img {
    width: 50px;
    height: 50px;
} 

/* *** End HF *** */
/* *** Main Formatting *** */

form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    '.'
    '.';
}

legend {
    text-align: left;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.forminfo {
    flex: 0 0 75%;
}

::placeholder {
    color: var(--sub-highlight);
}

input, select, textarea {
    width: 75%;
    margin: 2%;
    padding-left: 5px;
    background-color: var(--sub-bg);
    border: 2px solid var(--main-highlight);
    border-radius: 10px;
    resize: none;
}

input[type=radio] {
    width: auto;
}

select,option {
    color: var(--main-txt);
}   

select:invalid {
    color: var(--sub-highlight);
}

input[type=submit], p {
    /*grid-column: 1 / span 2;*/
    margin: 10px auto;
    width: auto;
}

/* *** End MF *** */
/* *** Footer Formatting *** */

/* *** End FF *** */

@media only screen and (min-width: 768px) {
    #pg-header {
        margin-top: 7.5%;
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    form {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        '. .';
    }
    input[type=submit], p {
        grid-column: 1 / span 2;
    }
}

@media only screen and (min-width: 1440px) {
}
