/* WEBD 1102 Final Assignment
 * By Curtis Jones
 * Due December 14, 2019 */

/* Colours:
 * --main-bg: #CFDBD5 -- Light Grey (No dumb name to fix)
 * --sub-bg: #6EB4D1 -- Iceberg (Lighter Blue)
 * --main-txt: #0B132B -- Maastricht Blue (Dark Blue)
 * --main-hightlight: #594236 -- Dark Liver (Dark Brown) 
 * --sub-highlight: #D3FAD6 -- Aero Blue (Pale Green/Teal Colour) */

/* *** General Formatting *** */

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

/* *** End GF *** */
/* *** Header Formatting *** */

/* *** End HF *** */
/* *** Main Formatting *** */

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'arch'
    'pi'
    'home';
}

#archdesktop {
    grid-area: arch;
}

#piserver {
    grid-area: pi;
}

#homeserver {
    grid-area: home;
}

h2,figure {
    text-align: center;
}

header {
    margin-left: auto;
    margin-right: auto;
    grid-area: heading;
    text-align: left;
    padding-left: 20px;
}

/* *** End MF *** */
/* *** Footer Formatting *** */

/* *** End FF *** */

@media only screen and (min-width: 768px) {
    #pg-header {
        margin-top: 7.5%;
        width: 50%;
    }
    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'heading heading'
        '. .';
    }
}

@media only screen and (min-width: 1024px) {
    main {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'arch pi'
        'home home';
    }
    article {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
        'heading'
        '.'
        '.';
    }
}

@media only screen and (min-width: 1440px) {
    main {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        'arch pi home';
    }
}
