/* WEBD 1102 Final Assignment
 * By Curtis Jones
 * Due December 14, 2019 */

/* Colours:
 * --main-bg: #CFDBD5 -- Light Grey (No dumb name to fix)
 * --sub-bg: #6EB4D1 -- Iceberg (Lighter Blue)
 * --main-txt: #0B132B -- Maastricht Blue (Dark Blue)
 * --main-hightlight: #594236 -- Dark Liver (Dark Brown) 
 * --sub-highlight: #D3FAD6 -- Aero Blue (Pale Green/Teal Colour) */

/* *** General Formatting *** */

img {
    max-width: 100%;
    max-height: 100%;
}

/* *** End GF *** */
/* *** Header Formatting *** */

/* *** End HF *** */
/* *** Main Formatting *** */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    '. . .';
}

article header {
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    '. .';
}

h3 {
    text-align: left;
    padding-left: 20px;
}

/* *** End MF *** */
/* *** Footer Formatting *** */

/* *** End FF *** */
