/* WEBD 1102 Final Assignment
 * By Curtis Jones
 * Due December 14, 2019 */

/* Colours:
 * #CFDBD5 -- Light Grey (No dumb name to fix)
 * #6EB4D1 -- Iceberg (Lighter Blue)
 * #0B132B -- Maastricht Blue (Dark Blue)
 * #594236 -- Dark Liver (Dark Brown) 
 * #D3FAD6 -- Aero Blue (Pale Green/Teal Colour) */

:root {
    --main-bg: #CFDBD5;
    --sub-bg: #6EB4D1;
    --main-txt: #0B132B;
    --main-highlight: #594236;
    --sub-highlight: #D3FAD6;
}
