/* WEBD 1102 Final Assignment
 * By Curtis Jones
 * Due December 14, 2019 */

/* Colours:
 * --main-bg: #CFDBD5 -- Light Grey (No dumb name to fix)
 * --sub-bg: #6EB4D1 -- Iceberg (Lighter Blue)
 * --main-txt: #0B132B -- Maastricht Blue (Dark Blue)
 * --main-hightlight: #594236 -- Dark Liver (Dark Brown) 
 * --sub-highlight: #D3FAD6 -- Aero Blue (Pale Green/Teal Colour) */

/* *** General Formatting *** */

/* *** End GF *** */
/* *** Header Formatting *** */

/* *** End HF *** */
/* *** Main Formatting *** */

main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas:
    'intro intro'
    'projprev qstatus'
    'projprev qstatus'
    'qdocs qdocs';
}

#intro {
    grid-area: intro;
}

article {
    border: 2px inset var(--main-highlight);
    border-radius: 20px;
    margin: 2%;
}

/* *** Status Section Formatting *** */

#quick-status {
    grid-area: qstatus;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
    'stathead'
    'statone'
    'stattwo'
    'statthree';
}

#stat-head {
    grid-area: stathead;
}

#status-1 {
    grid-area: statone;
}

#status-2 {
    grid-area: stattwo;
}

#status-3 {
    grid-area: statthree;
}

/* *** End SSF *** */
/* *** Project Section Formatting *** */

#project-preview {
    grid-area: projprev;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
    'projhead'
    'projone'
    'projtwo';
}

#proj-head {
    grid-area: projhead;
}

#project-1 {
    grid-area: projone;
}

#project-2 {
    grid-area: projtwo;
}

/* *** End PSF *** */
/* *** Documentation Section Formatting *** */

#quick-docs {
    grid-area: qdocs;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'dochead dochead dochead'
    'docone doctwo docthree';
}

#doc-head {
    grid-area: dochead;
}

#doc-1 {
    grid-area: docone;
}

#doc-2 {
    grid-area: doctwo;
}

#doc-3 {
    grid-area: docthree;
}

/* *** End DSF *** */
/* *** End MF *** */
/* *** Footer Formatting *** */

/* *** End FF *** */
