/* WEBD 1102 Final Assignment
 * By Curtis Jones
 * Due December 14, 2019 */

/* Colours:
 * --main-bg: #CFDBD5 -- Light Grey (No dumb name to fix)
 * --sub-bg: #6EB4D1 -- Iceberg (Lighter Blue)
 * --main-txt: #0B132B -- Maastricht Blue (Dark Blue)
 * --main-hightlight: #594236 -- Dark Liver (Dark Brown) 
 * --sub-highlight: #D3FAD6 -- Aero Blue (Pale Green/Teal Colour) */

/* *** General Formatting *** */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

/* *** End GF *** */
/* *** Header Formatting *** */

/* *** End HF *** */
/* *** Main Formatting *** */

main {
    display: grid;
    grid-template-areas:
    'email'
    'laptop';
}

#email-server {
    grid-area: email;
}

#laptop-reformatting {
    grid-area: laptop;
}

/* *** End MF *** */
/* *** Footer Formatting *** */

/* *** End FF *** */

@media only screen and (min-width: 768px) {
    #pg-header {
        margin-top: 7.5%;
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    #pg-header {
        margin-top: 5%;
    }
    main {
        display: grid;
        grid-template-areas:
        'email laptop';
    }
}

@media only screen and (min-width: 1440px) {
}
